/* styles.css */
.fenetre {
    background-image: url('https://global-img.gamergen.com/joker-2019-001_0900936868.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    position: fixed;
    top: 0; 
    left: 0;
    
    
}

.search-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-100%, -50%);
}
#add {
    position: absolute;
    font: inherit;
    top: 28%;
    left: 200%;
    width: 110px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    padding: 0; /* Supprime le padding */
    font-size: 1.3rem; /* Taille de la police */
    background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond */
    color: white; 
    border: none; 
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Change le curseur au survol */
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
}

#add:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
}

h1 {
    font-size: 30px;
    position: absolute;
    top: 20%;
    color: rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%, -50%);
}
.highlight {
    color: rgb(255, 255, 255);
}
:root {
    --primary: #ffffff;
    --secondary: #e7e7e7e0;
    --white: #ffffff;
    --gray: #888888;
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 312px; /* Largeur spécifique pour le champ de recherche */
    transform: translateX(-50%);
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--gray);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
}

#search-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

#search-input::placeholder {
    color: transparent;
}

#search-input:placeholder-shown + .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    color: var(--white);
}

#search-input:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;

}

#search-input:focus + .form__label,
#search-input:not(:placeholder-shown) + .form__label { /* Modification de cette ligne */
    position: absolute;
    top: -20px; /* Ajustement de cette valeur */
    left: 0;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
    transition: 0.2s;
    
}

#search-input:required,
#search-input:invalid {
    box-shadow: none;
}



#suggestions {
    position: absolute;
    top: 40px;
    width: 410px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    max-height: 130px;
    overflow-y: auto;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #e0e0e0;
}

#note {
    position: relative;
    left: 70%;
    width: 200px;
    font-size: 16px;
    padding: 8px;
    transform: translate(50%, -100%);
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
    /* <option> colors */
    option {
        color: inherit;
        background-color: var(--option-bg);
    }
}

.black-bar {
    background-color: #000;
    height: 50px;
    width: 100%; /* Prend toute la largeur de la page */
    position: fixed; /* Position fixe pour rester en place même lors du défilement */
    top: 0; /* Aligner en haut de la page */
    left: 0; /* Aligner à gauche de la page */
}

header {
    position: absolute;
    top: 1%; 
    
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%; /* Utilise toute la largeur de l'en-tête */
}


.nav-list li {
    margin-right: 320px;
    color: #fff;
    text-decoration: none;
    font-family: "Arial", sans-serif;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
}

.nav-list li:last-child {
    margin-right: 0;
}
.nav-list li a img {
    width: 20px; /* Ajuste la largeur de l'image */
   
}

.menu {
    position: absolute;
    top: 50px;
    left: -200px; 
    width: 200px;
    background-color: #f1f1f1;
    height: 90%;
    transition: left 0.3s ease; /* Animation*/
    padding-top: 60px; 
   
}

.menu.active {
    left: 0; /* Afficher le menu */
}







