/* styles.css */
.fenetre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Assure que l'image ne dépasse pas les dimensions de .fenetre */

    /* Utilisation d'un pseudo-élément pour appliquer le flou à l'image de fond */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://repository-images.githubusercontent.com/275336521/20d38e00-6634-11eb-9d1f-6a5232d0f84f');
        background-size: cover;
        background-position: center;
        filter: blur(1px); /* Appliquer le flou à l'image de fond */
        z-index: -1; /* Assure que le pseudo-élément est derrière le contenu */
    }
}

.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}
#add {
    position: absolute;
    font: inherit;
    top: 28%;
    left: 200%;
    width: 110px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    padding: 0; /* Supprime le padding */
    font-size: 1.3rem; /* Taille de la police */
    background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond */
    color: white; 
    border: none; 
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Change le curseur au survol */
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
}

#add:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
}

h1 {
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
.highlight {
    color: rgb(255, 255, 255);
}
:root {
    --primary: #ffffff;
    --secondary: #e7e7e7e0;
    --white: #ffffff;
    --gray: #888888;
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 312px; /* Largeur spécifique pour le champ de recherche */
    transform: translateX(-50%);
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--white);
    outline: 0;
    font-size: 1.3rem;
    color: var(--gray);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--white);
}

#search-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--white);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

#search-input::placeholder {
    color: transparent;
}

#search-input:placeholder-shown + .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    color: var(--white);
}

#search-input:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;

}

#search-input:focus + .form__label,
#search-input:not(:placeholder-shown) + .form__label { /* Modification de cette ligne */
    position: absolute;
    top: -20px; /* Ajustement de cette valeur */
    left: 0;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
    transition: 0.2s;
    
}

#search-input:required,
#search-input:invalid {
    box-shadow: none;
}



#suggestions {
    position: absolute;
    top: 40px;
    width: 410px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    max-height: 130px;
    overflow-y: auto;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #e0e0e0;
}

#note {
    position: relative;
    left: 70%;
    width: 200px;
    font-size: 16px;
    padding: 8px;
    transform: translate(50%, -100%);
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
    /* <option> colors */
    option {
        color: inherit;
        background-color: var(--option-bg);
    }
}
:root {
    --darkgray: #333;
    --mediumgray: #555;
    --lightgray: #777;
    --white: #fff;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body,
  .tabs-to-dropdown .dropdown-toggle,
  .tabs-to-dropdown .dropdown-item {
    font-size: 1.3rem;
  }
  
  .tabs-to-dropdown .nav-wrapper {
    padding: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: var(--darkgray);
    background: linear-gradient(135deg, #222, #444); /* Dégradé sombre à gauche et clair à droite */
  }
  
  .tabs-to-dropdown .nav-wrapper a {
    color: var(--white);
  }
  
  .tabs-to-dropdown .nav-pills .nav-link.active {
    background-color: var(--lightgray);
    border-radius: 5px;
  }
  
  .tabs-to-dropdown .nav-pills li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
  }
  
  .tabs-to-dropdown .nav-pills li::after {
    content: '|';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--lightgray);
  }
  
  .tabs-to-dropdown .nav-pills li:last-child::after {
    display: none;
  }
  
  .tabs-to-dropdown .tab-content .container-fluid {
    max-width: 1250px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .tabs-to-dropdown .dropdown-menu {
    border: none;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: var(--darkgray);
  }
  
  .tabs-to-dropdown .dropdown-item {
    padding: 14px 28px;
  }
  
  .tabs-to-dropdown .dropdown-item:active {
    color: var(--white);
  }
  
  @media (min-width: 1280px) {
    .tabs-to-dropdown .nav-wrapper {
      padding: 15px 30px;
    }
  }
  
  /* FOOTER STYLES */
  .page-footer {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
    background: var(--darkgray);
  }
  
  .page-footer a {
    margin-left: 4px;
    color: var(--white);
  }
  
  /* Styles pour votre propre barre de menu */
  .nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--darkgray);
    background: linear-gradient(135deg, #222, #444);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0 10px;
  }
  
  .nav-list li {
    margin-right: 10px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 15px;
    display: block;
  }
  
  .nav-list li a.active {
    background-color: var(--lightgray);
    color: var(--white);
    border-radius: 5px;
  }
  
  #menu-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  #menu-btn img {
    width: 30px;
    height: 30px;
  }
  
  /* Modifier la position du menu pour qu'il s'ouvre vers la droite */
  .menu {
    position: absolute;
    right: 10px;
    display: none;
    flex-direction: column;
    background: var(--darkgray);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .menu.active {
    display: flex;
  }
    